.appIcon {
    padding: 5px;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border-radius: 12px;
    position: relative;
}

.appIcon.small {

}

.appIcon.blue {
    color: white;
    background: #00ACF0;
}
.appIcon.grey {
    color: white;
    background: #aaa;
}

.appIcon .preloader {
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -21px;
}

.swiper-slide {
    box-sizing: border-box;
}

.swiper-container {
    margin: 0 0;
}

.progressbar {
    width: 100%;
    background: #eee;
    min-height: 2px;
    margin-top: 7px;
}

.progressscale {
    width: 100%;
}

.progressscale .scale {
    float: left;
    width: 1px;
    height: 5px;
    background: #000;
    margin-left: -3px;
}

.progressscale .scale.max {
    margin-left:49%;
}

.progressscale .scale.mid {
    margin-left:50%;
}


.progressbar .progress {
    width: 50%;
    background: #f0ad4e;
    height: 2px;
}

.pet > .showplus {
    position: absolute;
    right: 20px;
    top: 30px;
}

.pet .plus {
    color: #4cae4c;
}
/*.modal-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible {
    display: none !important;
    visibility: none !important;
}*/
