<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>DigiPet</title>
    <script type="text/javascript" src="/assets/components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/components/framework7/dist/css/framework7.min.css">
    <link rel="stylesheet" href="/assets/css/digipet.css">
</head>

<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
        <div class="content-block-title">Settings</div>
        <div class="content-block">
            <p><a href="#" class="settings-disclose">GPS Location</a></p><br/>
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel">Close</a></p>
        </div>
    </div>
    <div class="views tabs">
        <!-- Home Screen -->
        <div class="view tab view-main active">
        {{template "viewHomeScreen"}}
        </div>
        <!-- View for the digipet -->
        <div class="view tab view-digipet ">
            {{template "viewDigiPet" .}}
        </div>
    </div>
    <script>
        var __pps = {{.pps}}; // jshint ignore:line
        var __dr = {{.dr}}; // jshint ignore:line
        var __ref = "{{.reference}}"; // jshint ignore:line

        function preload(arrayOfImages) {
            $(arrayOfImages).each(function(){
                $('<img/>')[0].src = this;
            });
        }
        preload([
            '/assets/imgs/idle.png',
            '/assets/imgs/travel.png',
            '/assets/imgs/eat.png'
        ]);
    </script>
    <script type="text/javascript" src="/assets/components/framework7/dist/js/framework7.min.js"></script>
    <script type="text/javascript" src="/assets/lib/app.js"></script>
</body>

</html>
