<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DigiPet</title>
    <script type="text/javascript" src="/assets/components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/components/framework7/dist/css/framework7.min.css">
    <link rel="stylesheet" href="/assets/css/device.css">
</head>

<body style="min-height: 750px">
    <div class="content-block" style="position: absolute; margin-left: -400px; left: 50%; width: 800px">
        <div class="example">
            <div class="device device-left device-v">
                <iframe id="frame" width="320" height="568" scrolling="no" frameborder="0" src="/app/{{.reference}}/{{.mode}}"></iframe>
                <div id="redirectMsg" style="display:none; min-width:320px; min-height:568px">
                    <p style='color: #fff; font-family: arial;font-size: 12px;'>redirecting to survey ...</p>
                </div>
            <div class="homebutton" style="cursor: pointer;"></div>
            </div>
        </div>
        <div class="introduction">
            <h3>DigiPet</h3>
            <p>Hey there,</p>
            <p>to the left you will find an early prototype of DigiPet. DigiPet is your digital companion and needs you to take care of it. Since our objective is to improve our application continuously we try to reach out to our customers as early as possible. This is why you find very limited features in this version.
           </p>
           <p>After testing the available features you will be redirected to a survey for further feedback automatically. Please behave as if you had just installed DigiPet on your mobile phone and also answer the questions accordingly.</p>
           <p>Thanks for your participation!</p>
           <p><strong><u>Objective: Get your DigiPet to 100% happiness! (unterschreichen und fett)</u></strong></p>
        </div>
    </div>
</body>
<script>
$("#frame").load(function() {
    $('.homebutton').click(function(){
        $("#frame")[0].contentWindow.myApp.showTab('.view-main');
    });
});

</script>

</html>
