<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DigiPet</title>
    <link rel="stylesheet" href="assets/css/device.css">
</head>

<body>
    <div class="example">
        <div class="device device-left device-v">
            <iframe width="320" height="568" scrolling="no" frameborder="0" src="/app"></iframe>
        </div>
        <div class="info">
            <h2>CanJS Issue Tracker</h2>
            <div class="example-author">by <a href="http://www.perehnbom.se/" target="_blank">Per Ehnbom</a></div>
            <p>Example project with CanJS and Framework7. The project highlights how the 2 frameworks can be combined.</p>
            <p class="buttons"><a href="http://perehnbom.github.io/canjs-framework7-issuetracker/" target="_blank" class="button">Open app in new window</a><a href="https://github.com/perehnbom/canjs-framework7-issuetracker" target="_blank" class="button">Source code</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</body>

</html>
