{{define "viewDigiPet"}}
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">DigiPet</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars color-blue"></i></a>
        </div>
    </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
    <!-- Page, "data-page" contains page name -->
    <div data-page="index" class="page">
        <!-- Scrollable page content -->
        <div class="page-content">
            <p>Page content goes here</p>
            <!-- Link to another page -->
            <a href="assets/views/about.html">About app</a>
        </div>
    </div>
</div>
<!-- Bottom Toolbar-->
<div class="toolbar">
    <div class="toolbar-inner">
        <!-- Toolbar links -->
        <a href="#" class="link">Link 1</a>
        <a href="#" class="link">Link 2</a>
    </div>
</div>
{{end}}
