{{define "viewDigiPet"}}
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">DigiPet</div>
        <!-- <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-form-settings color-blue"></i></a>
        </div> -->
    </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
    <!-- Page, "data-page" contains page name -->
    <div class="page" data-page="main">
        <!-- Scrollable page content -->
        <div class="page-content">
            {{template "pagePet"}}
        </div>
    </div>
</div>
<div class="picker-modal picker-activies">
    <div class="toolbar">
        <div class="toolbar-inner">
            <div class="left sliding"><a href="#" class="close-picker">Activities</a></div>
            <div class="right"><a href="#" class="close-picker disabled">Status</a></div>
        </div>
    </div>
    <div class="picker-modal-inner">
        <div class="content-block">
            <div class="row">
                <div class="col-33"><p><a href="#" class="button button-round  disabled">Play</a></p></div>
                <div class="col-33"><p><a href="#" class="button button-round activity-travel">Travel</a></p></div>
                <div class="col-33"><p><a href="#" class="button button-round  disabled">Socialize</a></p></div>
            </div>
            <div class="row">
                <div class="col-33"><p><a href="#" class="button button-round  disabled">Eat</a></p></div>
                <div class="col-33"><p><a href="#" class="button button-round  disabled">Cure</a></p></div>
                <div class="col-33"><p><a href="#" class="button button-round  disabled">Decorate</a></p></div>
            </div>
        </div>
    </div>
</div>

<div class="toolbar">
    <div class="toolbar-inner">
        <a href="#"  class="link open-picker">Activities</a>
        <a href="#"  class="link open-picker disabled">Status</a>
    </div>
</div>
{{end}}
