{{define "viewDigiPet"}}
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="homelink link"> <i class="icon icon-back"></i><span>Home</span></a>
        </div>
        <div class="center sliding">DigiPet</div>
        <div data-page="index" class="navbar-inner cached">
            <div class="left">
                <a href="#" class="homelink link"> <i class="icon icon-back"></i><span>Home</span></a>
            </div>
            <div class="center sliding">DigiPet</div>
        </div>
        <div data-page="play" class="navbar-inner cached">
            <div class="left sliding">
                <a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a>
            </div>
            <div class="center sliding">DigiPet - Play</div>
        </div>
    </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
    <!-- Page, "data-page" contains page name -->
    <div class="page" data-page="index">
        <!-- Scrollable page content -->
        <div class="page-content">
            {{template "pagePet"}}
        </div>
    </div>
    <div class="page cached digipet-play" data-page="play">
        <div class="page-content">
            <div class="content-block-title">Searching for other DigiPets</div>
            <div class="content-block row play-load">
                <div class="col-20"></div>
                <div class="col-20"></div>
                <div class="col-20"><span style="width:42px; height:42px;" class="preloader"></span></div>
                <div class="col-20"></div>
                <div class="col-20"></div>
            </div>
            <div class="list-block play-users" style="display: none;">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title"><a href="#" class="activity-play">John</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="popup popup-pps">
    <div class="content-block-title">Security Information</div>
    <div class="content-block">
        <p>The DigiPet App is about to request your permission for GPS privacy disclosure.</p>
        <ul style="text-align: left;">
            <li>Your location information is used to detect other users so that your pets can play together</li>
            <li>Your location information is deleted within 24 hours</li>
            <li>No third party will be granted access to your location information</li>
        </ul>
        <p><a target="_blank" onclick="moreInfo()" href="#">more information</a></p>
        <br/>
        <br/>
        <p><a href="#" class="button button-big button-round btn-okay">Okay</a></p>
    </div>
</div>
<div class="picker-modal picker-activies">
    <div class="toolbar">
        <div class="toolbar-inner">
            <div class="left"><a href="#" class="btn-activities">Activities</a></div>
            <div class="right"><a href="#" class="btn-status">Status</a></div>
        </div>
    </div>
    <div class="picker-modal-inner">
        <div class="swiper-container menu-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content-block">
                        <div class="row">
                            <div class="col-25">
                                Happiness
                            </div>
                            <div class="col-75">
                                <div class="progressbar">
                                    <div class="progress"></div>
                                </div>
                                <div class="progressscale">
                                    <div class="scale min"></div>
                                    <div class="scale mid"></div>
                                    <div class="scale max"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-20">
                                <span id="happiness"></span>%
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-20">
                            </div>
                            <div class="col-80">
                                <br/>
                                <b>You need to make DigiPet happy!</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-block">
                        <div class="row">
                            <div class="col-33">
                                <p><a href="#" class="button button-round  activity-eat">Eat</a></p>
                            </div>
                            <div class="col-33">
                                <p><a href="#" class="button button-round activity-play">Play</a></p>
                            </div>
                            <div class="col-33">
                                <p><a href="#" class="button button-round  disabled">Socialize</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-33">
                                <p><a href="#" class="button button-round  disabled">Travel</a></p>
                            </div>
                            <div class="col-33">
                                <p><a href="#" class="button button-round  disabled">Cure</a></p>
                            </div>
                            <div class="col-33">
                                <p><a href="#" class="button button-round  disabled">Decorate</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<script>
$(document).ready(function() {
    digiPetController(myApp);
    $$('.view.view-digipet').on('show', function() {
        digiPetController(myApp);
    });
});
</script>
{{end}}
